body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body,
/* html {
  height: 100%;
  margin: 0;
} */

* {
  background-color: #ebebeb;
  font-family: "Blinker";
}

h1 {
  font-size: 7vh;
  padding-bottom: 2.5vh;
}
p {
  font-size: 1.6vh;
  font-weight: 400;
}

.Button {
  user-select: none;
  display: inline-block;
  padding: 5px 8px;
  margin: 8px;
  border: solid 2px;
  border-color: black;
  border-radius: 5px;
  color: rgb(255, 89, 0);
  background-color: black;
  cursor: pointer;
}
.Button:hover {
  color: #ebebeb;
  background-color: black;
  cursor: pointer;
}
.EncButtons {
  font-weight: 900;
  opacity: 0.9;
  display: inline-block;
  padding: 5px 8px;
  margin: 8px;
  border: solid 2px;
  border-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(9, 9, 9);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.info-box {
  margin-top: 3vh;
  width: 10vh;
  padding: 1vh 2vh;
  font-size: 2vh;
  border: solid;
  text-align: center;
  border-width: 1px;
}

.info-box:hover {
  color: #ebebeb;
  background-color: black;
  cursor: pointer;
}

.left-content {
  display: inline-block;
  border: solid red;
  width: 30%;

  /* line-height: 1.8vh; */

  /* margin-top: 20vh;
  margin-left: 10vh;
  margin-right: 18vh; */

  /* 100% of the viewport height */

  background-color: lightblue;
}
.right-content {
  width: 50%;
  height: 100%;

  background-color: red;
  display: inline-block;
}
.caesar-box {
  display: inline-block;
  border: solid red;
  width: 30%;
  /* line-height: 1.8vh; */

  /* margin-top: 20vh;
  margin-left: 10vh;
  margin-right: 18vh; */

  /* 100% of the viewport height */

  background-color: lightblue;
}
